/* src/components/flashcard.css */

.flashcard-container {
    perspective: 1000px;
    width: 300px;
    height: 200px;
    margin: 1rem auto;
    cursor: pointer;
  }
  
  .flashcard {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flashcard.flipped {
    transform: rotateY(180deg);
  }
  
  .flashcard .front,
  .flashcard .back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #0e0000;
    border-radius: 0.5rem;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    flex-direction: column;       /* Important for vertical stacking */
    justify-content: center;      /* Centers vertically */
    align-items: center;   
  }

 .category-label {
    font-size: 0.9rem;
    color: #edf2f4;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 4rem; /* Adds spacing below the top element */
}
  
  .flashcard .front {
    background: #06e97c;
  }
  
  .flashcard .back {
    background: #097aeb;
    transform: rotateY(180deg);
  }
  